absl-py @ file:///opt/conda/conda-bld/absl-py_1639803114343/work
adjustText==0.7.3
alabaster==0.7.12
altair==4.2.0
anaconda-client @ file:///C:/ci/anaconda-client_1635342757050/work
anaconda-navigator==2.1.4
anaconda-project @ file:///tmp/build/80754af9/anaconda-project_1637161053845/work
anyio==3.5.0
aplus==0.11.0
appdirs==1.4.4
asgiref==3.5.0
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astor==0.8.1
astroid @ file:///C:/ci/astroid_1639044399338/work
astropy==3.2.1
atomicwrites==1.4.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
awesome-streamlit==20200728.1
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.os==0.1.1
backports.shutil-get-terminal-size @ file:///tmp/build/80754af9/backports.shutil_get_terminal_size_1608222128777/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
bcrypt @ file:///C:/ci/bcrypt_1597918112552/work
beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650292996413/work
bioinfokit==2.0.8
bitarray @ file:///C:/ci/bitarray_1648739666803/work
bkcharts==0.2
black==19.10b0
blake3==0.3.1
blaze==0.11.3
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.4
bokeh @ file:///C:/ci/bokeh_1638363000110/work
boto==2.49.0
Bottleneck @ file:///C:/ci/bottleneck_1648010921109/work
bqplot==0.12.33
brotlipy==0.7.0
cachetools==5.0.0
category-encoders==2.3.0
certifi==2021.10.8
cffi @ file:///C:/ci_310/cffi_1642682485096/work
chardet @ file:///C:/ci/chardet_1607706910910/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///C:/ci/click_1646038601470/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorlover==0.3.0
commonmark==0.9.1
comtypes==1.1.10
conda==4.12.0
conda-build==3.21.8
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1649106008722/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
constantly==15.1.0
contextlib2 @ file:///Users/ktietz/demo/mc3/conda-bld/contextlib2_1630668244042/work
coverage @ file:///C:/ci/coverage_1645521121247/work
cryptography @ file:///C:/ci/cryptography_1633502396740/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython @ file:///C:/ci/cython_1647834023817/work
cytoolz==0.11.0
dask==2.1.0
datashape==0.5.4
DateTime==4.4
debugpy==1.6.0
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distlib==0.3.4
distributed==2.1.0
docopt==0.6.2
docutils @ file:///C:/ci/docutils_1638528664571/work
ensemble==0.0.dev1
entrypoints @ file:///C:/ci/entrypoints_1649926659561/work
et-xmlfile==1.1.0
fastapi==0.75.2
fastcache==1.1.0
fastjsonschema @ file:///tmp/build/80754af9/python-fastjsonschema_1620414857593/work/dist
filelock @ file:///opt/conda/conda-bld/filelock_1647002191454/work
findspark==2.0.1
flasgger==0.9.5
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-Cors @ file:///tmp/build/80754af9/flask-cors_1609957731919/work
fonttools==4.33.3
frozendict==2.3.1
future==0.18.2
gast @ file:///tmp/build/80754af9/gast_1637837472536/work
gensim==4.1.2
gevent @ file:///C:/ci/gevent_1628273778988/work
gitdb==4.0.9
GitPython==3.1.27
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
greenlet @ file:///C:/ci/greenlet_1628888257991/work
grpcio @ file:///C:/ci/grpcio_1637590993074/work
gunicorn==20.1.0
h11==0.13.0
h5py==2.10.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httptools==0.4.0
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
hypothesis @ file:///tmp/build/80754af9/hypothesis_1638452402466/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imagecodecs @ file:///C:/ci/imagecodecs_1635529223557/work
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
imagesize @ file:///tmp/build/80754af9/imagesize_1637939814114/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1648562631189/work
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
incremental @ file:///tmp/build/80754af9/incremental_1636629750599/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipydatawidgets==4.2.0
ipykernel==6.12.1
ipyleaflet==0.16.0
ipympl==0.9.0
ipython==7.6.1
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipyvolume==0.5.2
ipyvue==1.7.0
ipyvuetify==1.8.2
ipywebrtc==0.6.0
ipywidgets==7.7.0
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jdcal @ file:///Users/ktietz/demo/mc3/conda-bld/jdcal_1630584345063/work
jedi @ file:///C:/ci/jedi_1644297241925/work
Jinja2==2.10.1
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///C:/ci/jsonschema_1650026210703/work
jupyter==1.0.0
jupyter-client @ file:///C:/ci/jupyter_client_1650534191587/work
jupyter-console==6.0.0
jupyter-core @ file:///C:/ci/jupyter_core_1646976467633/work
jupyterlab==1.0.2
jupyterlab-launcher @ file:///tmp/build/80754af9/jupyterlab_launcher_1601490670252/work
jupyterlab-server==1.0.0
jupyterlab-widgets==1.1.0
Keras==2.3.1
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
keyring @ file:///C:/ci/keyring_1638531658822/work
kiwisolver @ file:///C:/ci/kiwisolver_1644944417636/work
lazy-object-proxy @ file:///C:/ci/lazy-object-proxy_1616529290879/work
LFPykit==0.4
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
llvmlite==0.37.0
locket @ file:///C:/ci/locket_1646988079243/work
lxml @ file:///C:/ci/lxml_1646642866976/work
Markdown @ file:///C:/ci/markdown_1614364005059/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528383308/work
matplotlib @ file:///C:/ci/matplotlib-suite_1634667159685/work
matplotlib-inline==0.1.3
matplotlib-scalebar==0.8.1
matplotlib-venn==0.11.6
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
MEAutility==1.5.0
menuinst @ file:///C:/ci/menuinst_1631733468337/work
mistune @ file:///C:/ci/mistune_1594373272338/work
mkl-fft==1.0.14
mkl-random==1.0.4
mkl-service==2.0.2
mlxtend==0.19.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
more-itertools @ file:///tmp/build/80754af9/more-itertools_1637733554872/work
mpmath==1.2.1
msgpack @ file:///C:/ci/msgpack-python_1612287191162/work
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat @ file:///C:/ci/nbformat_1649845122517/work
nest-asyncio @ file:///C:/ci/nest-asyncio_1649848126026/work
netpyne==1.0.2.1
networkx==2.3
nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
nose @ file:///opt/conda/conda-bld/nose_1642704612149/work
notebook==6.0.0
numba @ file:///C:/ci/numba_1635186077865/work
numexpr @ file:///C:/ci/numexpr_1614798720432/work
numpy==1.17.0
numpy-financial==1.0.0
numpydoc==0.9.1
odo==0.5.1
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==0.24.2
pandas-datareader==0.10.0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
path @ file:///opt/conda/conda-bld/path_1641578212155/work
pathlib2 @ file:///C:/ci/pathlib2_1625585799971/work
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
pkginfo @ file:///tmp/build/80754af9/pkginfo_1643162084911/work
platformdirs==2.5.1
plot-metric==0.0.6
plotly==5.6.0
pluggy @ file:///C:/ci/pluggy_1648042781630/work
ply==3.11
progressbar2==4.0.0
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit==2.0.9
protobuf==3.19.1
psutil @ file:///C:/ci/psutil_1612298033174/work
py @ file:///opt/conda/conda-bld/py_1644396412707/work
py4j==0.10.9.3
pyarrow==7.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1636635402688/work
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycrypto==2.6.1
pycurl==7.44.1
pydantic==1.9.0
pydeck==0.7.1
pydot==1.4.2
pyflakes @ file:///tmp/build/80754af9/pyflakes_1636644436481/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyHamcrest @ file:///tmp/build/80754af9/pyhamcrest_1615748656804/work
PyJWT @ file:///C:/ci/pyjwt_1619651810943/work
pylint @ file:///C:/ci/pylint_1647941909350/work
Pympler==1.0.1
pyodbc @ file:///C:/ci/pyodbc_1647407901467/work
pyOpenSSL==19.1.0
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PyPrind==2.11.3
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1636093257833/work
PySocks @ file:///C:/ci/pysocks_1594394709107/work
pyspark==3.2.1
pysut==1.1
pytest==7.1.1
pytest-arraydiff @ file:///C:/ci/pytest-arraydiff_1636111452506/work
pytest-astropy @ file:///tmp/build/80754af9/pytest-astropy_1638532129046/work
pytest-astropy-header @ file:///home/ktietz/src/ci_ipy2/pytest-astropy-header_1612520851504/work
pytest-cov @ file:///tmp/build/80754af9/pytest-cov_1637159997573/work
pytest-doctestplus @ file:///tmp/build/80754af9/pytest-doctestplus_1638446199626/work
pytest-filter-subpackage @ file:///tmp/build/80754af9/pytest-filter-subpackage_1629823888712/work
pytest-mock @ file:///tmp/build/80754af9/pytest-mock_1620401424900/work
pytest-openfiles @ file:///home/ktietz/src/ci_ipy2/pytest-openfiles_1612521034591/work
pytest-remotedata==0.3.2
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.20.0
python-utils==3.1.0
pythreejs==2.3.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets @ file:///C:/ci/pywavelets_1601658407053/work
pywin32==302
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1594392691209/work
pywinpty @ file:///C:/ci_310/pywinpty_1644230983541/work/target/wheels/pywinpty-2.0.2-cp37-none-win_amd64.whl
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1638435182681/work
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1637160816833/work
qtconsole==4.5.1
QtPy @ file:///opt/conda/conda-bld/qtpy_1649073884068/work
regex @ file:///C:/ci/regex_1648429722774/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
rich==12.2.0
rope @ file:///opt/conda/conda-bld/rope_1643788605236/work
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016865685/work
schema==0.7.5
scikit-image==0.18.3
scikit-learn @ file:///C:/ci/scikit-learn_1642599122269/work
scikit-posthocs==0.6.7
scipy==1.7.3
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
semver==2.13.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1629321204894/work
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcollections @ file:///tmp/build/80754af9/sortedcollections_1611172717284/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
Sphinx==2.1.2
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy @ file:///C:/ci/sqlalchemy_1647600013392/work
starlette==0.17.1
stats-arrays==0.6.5
statsmodels==0.12.2
streamlit==1.8.1
sympy @ file:///C:/ci/sympy_1647853865212/work
tables==3.6.1
tabulate==0.8.9
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity==8.0.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado @ file:///C:/ci/terminado_1644322782754/work
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
textwrap3==0.9.2
threadpoolctl==3.1.0
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///tmp/build/80754af9/tomli_1637314251069/work
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
torch==1.11.0
torchvision==0.12.0
tornado @ file:///C:/ci/tornado_1606935947090/work
tqdm @ file:///C:/ci/tqdm_1650636251715/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
traittypes==0.2.1
Twisted @ file:///C:/ci/twisted_1646835386716/work
twisted-iocpsupport @ file:///C:/ci/twisted-iocpsupport_1646817106095/work
typed-ast @ file:///C:/ci/typed-ast_1624953789477/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
tzdata==2022.1
tzlocal==4.2
ujson @ file:///C:/ci/ujson_1648026049890/work
unicodecsv==0.14.1
urllib3 @ file:///C:/ci/urllib3_1650639842077/work
uvicorn==0.17.6
vaex==4.9.1
vaex-astro==0.9.1
vaex-core==4.9.1
vaex-hdf5==0.12.1
vaex-jupyter==0.7.0
vaex-ml==0.17.0
vaex-server==0.8.1
vaex-viz==0.5.1
validators==0.18.2
virtualenv==20.14.0
watchdog==2.1.7
watchgod==0.8.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websockets==10.3
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
widgetsnbextension==3.6.0
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.1
wrapt @ file:///C:/ci/wrapt_1638415942355/work
xarray==0.20.2
xgboost==1.5.2
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
XlsxWriter @ file:///opt/conda/conda-bld/xlsxwriter_1649073856329/work
xlwings==0.24.9
xlwt==1.3.0
xyzservices==2022.4.0
zict==2.0.0
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
zope.event==4.5.0
zope.interface @ file:///C:/ci/zope.interface_1625036257680/work
