{% extends 'layout.html' %} {% block body %}

<style>
    html body {
        background-color: rgb(206, 206, 228);
    }
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Find out the most suitable crop to grow in your farm</b>
</h2>
<br />

<div style="
    width: 350px;
    height: 50rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  ">
    <form method="POST" action="{{ url_for('yield_prediction') }}">
        <div class="form-group">
            <label for="Rainfall" style="font-size: 17px"><b>Rainfall</b></label>
            <input type="float" class="form-control" id="Rainfall" name="Rainfall" placeholder="Enter the Rainfall (in mm)" style="font-weight: bold" required />
        </div>
        <div class="form-group">
            <label for="Area" style="font-size: 17px"><b>Area</b></label
      >
      <input
        type="float"
        class="form-control"
        id="Area"
        name="Area"
        placeholder="Enter the Area"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="Crop" style="font-size: 17px"><b>Crop</b></label>
            <input type="text" class="form-control" id="Crop" name="Crop" placeholder="Enter Crop Name" style="font-weight: bold" required />
        </div>
        <div class="form-group">
            <label for="Season" style="font-size: 17px"><b>Season</b></label>
            <input type="text" class="form-control" id="Season" name="Season" placeholder="Enter the Season" style="font-weight: bold" required />
        </div>
        <div class="form-group">
            <label for="District" style="font-size: 17px"><b>District</b></label>
            <input type="text" class="form-control" id="District" name="District" placeholder="Enter the District" style="font-weight: bold" required />
        </div>
        <div class="form-group">
            <label for="State" style="font-size: 17px"><b>State</b></label>
            <input type="text" class="form-control" id="State" name="State" placeholder="Enter the State" style="font-weight: bold" required />
        </div>

        <!-- <div class="form-group">
            <label for="State" style="font-size: 17px "><b>State</b></label>
            <select onchange="print_city('state', this.selectedIndex);" id="sts" name="stt" class="form-control" style="font-weight: bold; color: black;" required></select>
            <br />
            <label for="District" style="font-size: 17px"><b>District</b></label>
            <select id="state" class="form-control" name="District" style="font-weight: bold; color: black;" required></select>
            <script language="javascript">
                print_state("sts");
            </script>
        </div> -->

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-info" style="color: black; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;">
        Predict
      </button>
        </div>
    </form>
</div>



<!-- Form section -->

{% endblock %}